html {
	font-family: Helvetica;
}

li {
	display: inline;
}

body {
	background-image: url("../images/background.jpg");
	background-repeat: cover;
}

#name_div {
}

#name {
	color: #FFF;
	font-size: 4em;
}

.image_circle {
	border-radius: 50%;
	width: 15em;
}

.menu_item {
	font-size: 2em;
	color: #FFF;
	text-align: center;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}



