html {
	font-family: Helvetica;
}

li {
	display: inline;
}

body {
	background-image: url("../images/background.jpg");
	background-repeat: cover;
}

#name_div {
}

#name {
	color: #FFF;
	font-size: 4em;
}

.image_circle {
	border-radius: 50%;
	width: 15em;
	border: solid 10px white;
	border-style: double; 
}

.menu_item {
	font-size: 2em;
	color: #FFF;
	text-align: center;
	height: 200px;
	width: 200px;
	border: white 2px solid;
	border-radius: 50%;
	margin-top: 20px;
}

a {
	color: #FFF;
}

a:hover {
	background-color: #FFF
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.dropdown_item {
	display: none;
	text-align: center;
	color: black;
	font-size: 1em;
	background-color: white;
}

resume_dropdown {
	display: none;
}
github_dropdown {
	display: none;
}
ios_dropdown {
	display: none;
}
about_dropdown {
	display: none;
}



