html {
	font-family: Helvetica;
}

li {
	display: inline;
}

body {
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

#name_div {
}

.intro {
    margin-top: 10px;
}

h1 {
	color: #FFF;
	font-size: 4em;
    text-align: center;
    margin: 30px;
}

p {
    color: #FFF;
    font-size: 1.5em;
}

.image_circle {
	border-radius: 50%;
	width: 15em;
	border: solid 10px white;
	border-style: double; 
}

html, body, .container {
    width: 100%;
    margin: 0 auto;
    min-height: 920px;
}

#intro {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
}

#contact {
    
	background-image: url("../images/background1.jpg");
	background-repeat: no-repeat;
}

#about {
    background: #222649;
}

#courses {
    background: #1d1f23;
}

#logos {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 120px;
    display: block
}

.logo {
    width: 124px;
}

h2 {
    color: #FFF;
    margin: 15px;
}

ul {
    margin: 30px;
}

li {
    color: #FFF;
    list-style: disc outside;
    display: block;
}

.description {
    color: gray;
    text-align: left;
    font-size: 1em;
}

#nontcourses {
    background: #491d1d;
}

#contactDetails {
    margin-top: 60px;
}